/* CSS Start */
:root {
  --text-color: #181515; /* Off-white text */
  --font-text: "Poppins", sans-serif;
  --blue-color: #2646A6;
  --blue-light:#2561D9;
  --blue-dark:#20448C;
  --orange-color:#D9753B;
  --brown-color:#8C7669;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;  /* Prevents horizontal scrolling */
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-text);
  letter-spacing: 0.05em;

  background-color: #2646A6; /* Base color */

  background-image: 
    url('./assets/noise.svg'),  /* Noise texture */
    url('./assets/court.svg');  /* Court image */

  background-repeat: repeat, no-repeat; /* Noise repeats, court stays one big image */
  background-size: 400px, contain; /* Noise is tiled, court scales */
  background-position: top left, center; /* Noise starts from top left, court stays centered */

  width: 100vw;
  height: 100vh;
  background-attachment: fixed; /* Keeps it stable */
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}



